body {
  background-color:#D4F0FF;
}
h1{
  font-family: cursive;
  text-align: center;
  border-style: solid;
  border-width: 10px;
  border-width: medium;
  border-color: black;
  background-color: yellow;
  border-radius: 5em;
  padding-top: 3px;
  padding-bottom: 3px;
}
h2 {
  color: blue;
  font-family: cursive;
}
table,th,td {
  font-family: sans-serif;
  border: 2px solid black;
  border-collapse: collapse;
  background-color: #FFFB78;
}
th,td {
  text-align: center;
  padding: 10px;
}
th {
  text-align: center;
}
